@import "utilities";  
@import "btnConfig";  
@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
  color: $text-color-dark;
}

img {
  border-radius: 50%;
  max-width: 90%; 
}

a {
  text-decoration: none;
  color: $text-color-dark;
}

.hero {
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner {
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0; // Remove the right margin for the last item
        }
      }

      a {
        @include set-bg($light-color); // Utilize the mixin for consistent styling
      }
    }
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the cross axis */
  
    .text-content {
      max-width: 600px; /* Adjust the maximum width as needed */
    }
  
    .image-content {
      img {
        border-radius: 50%;
        height: 120%; /* Make the image take the full height of its container */
        max-height: 4000px; /* Set a maximum height for the circular image */
      }
    }
  }
}
